.vfrc-prompt button.vfrc-button,
.vfrc-footer #vfrc-start-chat {
  position: relative;
  color: transparent !important;
}
.vfrc-prompt button.vfrc-button::after,
.vfrc-footer #vfrc-start-chat::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  color: #ffffff;
}
.vfrc-prompt button.vfrc-button[label='Start new chat']::after,
.vfrc-footer #vfrc-start-chat::after {
  content: 'Commencer une nouvelle conversation';
}
.vfrc-prompt button.vfrc-button[label='Cancel']::after {
  content: 'Annuler';
  color: rgba(0, 0, 0, 0.9);
}
.vfrc-launcher {
  background-color: #FFF !important;
  height: 80px;
  width: 80px;
}
.vfrc-button svg:only-of-type {
  width: 64px;
  height: 64px;
}

.vfrc-button svg path {
  fill: #E6411B;
}